.card-container{
    display:inline-block;
    width:100%;
}
.content{
    display:block;
    background:#b7b697a1;
    color: #000;
    text-align:justify;
    margin: 0.3%;
    padding: 10px;
    min-width: 500px;
}
.displayBlock{
    display: block;
}

:host {
    margin-bottom: 10px;
    display: block;
}